body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 233, 111);
     /* background: url(../images/marvel-wallpaper-and-background-image-1280x800-id322791.jpg); */
}

.topic{
    border: 1px solid;
    outline: none;
    background: rgba(204, 248, 6, 0.925);
    width: 150px;
    height: 50px;   
    border-radius: 20px;
    cursor: pointer;
    margin: 15px 5px 5px 5px;
    vertical-align: middle;

}
.submitButton{
    border: 1px solid;
    outline: none;
    background: rgba(248, 6, 196, 0.925);
    width: 150px;
    height: 50px;   
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 2px 2px 2px;
    vertical-align: middle;

}

h2{
    
    font: 4em;
    font-size: 30px;
    font-weight: normal;
    color:#000;
    font-family: 'Lobster', cursive;
    padding: 10px 10px 10px 10px;
    
}

.gifDiv{
    padding: 10px 10px 10px 10px;
    margin: 0;
    display: inline-block;
    float: left;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.945);
    margin-top: 20px;
    
    
}

img{
    width: 250px;
    height: 250px;
}


#character-input{
    width: 300px;
}